body{
  margin: 0;
  padding: 0;
  font-family: 'ABeeZee', sans-serif;
  font-weight: 100;
  background-color:  #FFF2F1;
}

.navbar {
  background-color: #FFBBB5; 
  color: #4F2819;
  padding: 1px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  position: sticky;
}

.logo img {
   width: 100px;
   height: auto;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #3a1f1f;
  font-size: 23px;
  font-weight: 500;
}

button.dropbtn:hover, .nav-links a:hover{
  color: #682b13;
}


button.dropbtn{
    color: #3a1f1f;
    font-size: 24px;
    font-weight: 500;
    background-color: #FFBBB5;
    padding: 5px;
    border: none;
    cursor: pointer;
}

 .slider{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 400px; 
  overflow:hidden;
  width: 100%;
  display: flex;
  justify-content:center;
  pointer-events: none;
}

.slides{
  width: 100%;
  height: 400px; 
  display: flex;
  transition: transform 0.5s ease-in-out;
  z-index: -1; 
}

.slide img{
 width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  transition: opacity 0.5s;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #FFBBB5;
  border: none;
  font-size: 4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 11;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  /*-webkit-text-stroke: 1px rgb(255, 253, 253) borda na seta */
   pointer-events: auto;
}

button.prev { left: 10px; }
button.next { right: 10px; }

.texto-apresentacao {
  margin: 0 auto;
  padding: 0;
  line-height: 1.8; 
}

.texto-apresentacao h2 {
  margin: 0 auto;
  padding: 0; 
  color: #4f2819;
}
.texto-apresentacao p {
  padding: 0 40px;
  top:0;
}

.mais-vendidos {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}

.mais-vendidos h1 {
  margin: 0 auto;
  padding: 0; 
  color: #4f2819;
}

.produtos-grid {
  display:flex;
  flex-wrap: wrap;
  gap: 1px;
  object-fit:contain;
  padding: 0 1rem;
}

.produto {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.1);
  cursor: pointer;
}

.produto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  transition: transform 0.6s ease;
}

.produto:hover img {
  transform: scale(1.05);
}

.produto figcaption {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.produto h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.produto p {
  font-size: 0.95rem;
}

h1 {
  color: #4F2819;
  text-align: center;
  font-size: 45px;
}

h2 {
  color: #4F2819;
  text-align: center;
  font-size: 45px;
}

a {
  text-decoration: none; 
  color: inherit;       
}

p {
  text-align: center;
}

text {
  font-family: 'Arial', sans-serif;
  color: #4F2819;
  display: center;
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
  height:auto;
  margin: 5px;
  padding: 0 30px;
  
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

table {
  border: 1px solid;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  width: 60%;
}


th, td {
 padding: 8px;
 margin: 10px;
 border-left: 1px solid;
 border-left: 1px solid;
}

th{
  font-size: 20px;

}

footer {
  background-color: #4F2819;
  color: white;
  padding: 30px;
  font-family: 'Arial', sans-serif;
  bottom: 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  align-items: center;
  flex: 1 1 200px;
  min-width: 200px;
}

.footer-logo img {
  width: 160px;
  height: auto;
  max-width: 150px;
}

.footer-section, .footer-location {
  max-width: 250px;
  pad: 0;
}

.footer-section h4,
.footer-location h4 {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer-section p, 
.footer-location p {
  margin: 4px 0;
  font-size: 14px;
}

.footer-section p em {
  font-style: italic;
}

.small-text {
  font-size: 12px;
}

.footer-social {
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-wrap: wrap;
}

.footer-social img {
  width: 36px;
  height: 36px;
  background-color:transparent;
  /* border-radius: 50%; */
  padding: auto;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none; 
 position: absolute;
  z-index: 10;
  background-color: #FFBBB5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  text-align: center;
}

.dropdown-content a {
  color: #3a1f1f;
  padding: 16px 20px 16px 20px;
  text-decoration: none;
  display: block;
  border: #3a1f1f solid 1px;
}

.dropdown-content.show {
  display: block; 
  z-index: 11;
}