figure img{
    width: 200px;
    height: 200px;
    border-radius: 15px 15px 0 0;
}

.container-produtos{
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
}


.produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.produtos-img_fundo{
    background-color:  #FFF2F1;
    border-radius:  15px;
    padding-bottom: 20px;
    box-shadow: 0 0 10px #00000084;
    max-width: 200px;
    transition: 1s;
}

.produtos-img_fundo:hover{
    transform: scale(1.10);
}

.ocultar {
  display: none;
}

#verMaisBtn{
    background-color: #4F2819;
    border: none;
    border-radius: 14px;
    padding: 14px;
    width: 100px;
    color: #fff;
    margin: 20px;
    cursor: pointer;
}

.textos-produto{
display: flex;
flex-direction: column;
justify-content: center;
}

figcaption{
    
    padding: 10px 10px 0 10px;
    color: #4F2819;
    font-weight: bold;
}

.tracinho{
  width: 35px;
  height: 4px;
  background-color: #FFBBB5; /* rosa clarinho, ajuste conforme quiser */
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}

.descricao{
padding: 0 10px;
text-align: left;
}

.produtos-img_fundo-pronto{
    border-radius:  15px;
    text-align: center;
    padding: 10px;
    
}

.produtos-img_fundo-pronto img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}






